# **PROJECT 1**

---

In [ ]:
# importing libraries
import numpy as np
import pandas as pd

In [ ]:
# reading data
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.shape

(29, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [ ]:
sample = data.columns.str.lower().str.replace(" ","_")

In [ ]:
sample

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

**Question 1. Are there any missing values in the dataset, and if so, how should they be handled for each indicator?**

In [ ]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

Ans. 2 columns have missing values: Age(7) and Rating(1)

In [ ]:
avg_age = data['Age'].mean()
avg_age

39.04545454545455

In [ ]:
avg_rating = data['Rating'].mean()
avg_rating

3.528571428571429

In [ ]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=1)

data['Rating'] = data.Rating.fillna(avg_rating)
data['Rating'] = data.Rating.round(decimals=1)

In [ ]:
data['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

In [ ]:
data['Rating']

0     5.4
1     3.5
2    -1.0
3     4.4
4     6.4
5     1.4
6     0.0
7    -1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13   -1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24   -1.0
25    0.0
26    3.5
27    5.4
28    3.4
Name: Rating, dtype: float64

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.0  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

**Question 2. What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?**

In [ ]:
# Display the data types of each column
data_types = data.dtypes
print("Data Types of Each Column:")

for column, dtype in data_types.items():
    print(f"{column}: {dtype}")

    if data[column].dtype == 'object':
        print(f"Expected Type: Categorical")
    elif data[column].dtype == 'float64':
        print(f"Expected Type: Numerical")


    print()

Data Types of Each Column:
Index: int64

Age: float64
Expected Type: Numerical

Salary: object
Expected Type: Categorical

Rating: float64
Expected Type: Numerical

Location: object
Expected Type: Categorical

Established: int64

Easy Apply: object
Expected Type: Categorical

Ans. No, not all align with their expected data types, like 'Salary' must be int64.

**Question 3. Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?**

In [ ]:
z_score_threshold = 3

z_scores = np.abs((data[['Age', 'Salary', 'Rating']] - data[['Age', 'Salary', 'Rating']].mean()) / data[['Age', 'Salary', 'Rating']].std())

data_no_outliers = data[(z_scores <= z_score_threshold).all(axis=1)]

print("Dataset after removing outliers:")
print(data_no_outliers)

Dataset after removing outliers:
Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

<ipython-input-18-0c291d66372d>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  z_scores = np.abs((data[['Age', 'Salary', 'Rating']] - data[['Age', 'Salary', 'Rating']].mean()) / data[['Age', 'Salary', 'Rating']].std())
<ipython-input-18-0c291d66372d>:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  z_scores = np.abs((data[['Age', 'Salary', 'Rating']] - data[['Age', 'Salary', 'Rating']].mean()) / data[['Age', 'Salary', 'Rating']].std())

**Question 4: Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?**

In [ ]:
# Extracting the numeric values from the Salary column
data['Salary_min'] = data['Salary'].apply(lambda x: int(x.split('-')[0].strip('$').strip('k')))
data['Salary_max'] = data['Salary'].apply(lambda x: int(x.split('-')[1].strip('$').strip('k')))

# Calculating the average (mean) of the salary range
data['Average_Salary'] = (data['Salary_min'] + data['Salary_max']) / 2

# Displaying the updated DataFrame with numerical representation of salary ranges
print(data)

    Index   Age      Salary  Rating       Location  Established Easy Apply  \
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  39.0   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12  39.0   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17  39.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20  39.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23  39.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26  39.0   $55k-$66k     3.5       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia Aus         1932         -1

    Salary_min  Salary_max  Average_Salary
0           44          99            71.5
1           55          66            60.5
2           77          89            83.0
3           44          99            71.5
4           44          99            71.5
5           77          89            83.0
6           44          99            71.5
7           44          99            71.5
8           44          99            71.5
9           44          99            71.5
10          10          49            29.5
11          10          49            29.5
12          44          99            71.5
13          44          99            71.5
14          44          99            71.5
15          88         101            94.5
16          19          40            29.5
17          44          99            71.5
18          44          99            71.5
19          44          99            71.5
20          44          99            71.5
21          44          99            71.5
22          55          66            60.5
23          44          99            71.5
24          44          99            71.5
25          44          99            71.5
26          55          66            60.5
27          44          99            71.5
28          39          88            63.5

**Question 5. Check the consistency of location entries. Do they need standardization, and how can this be achieved?**

In [ ]:
data['Location'].value_counts()

New York,Ny      12
India,In          9
Australia Aus     7
India In          1
Name: Location, dtype: int64

In [ ]:
data['Location'] = data['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})

In [ ]:
data['Location'].value_counts()

New York     12
India        10
Australia     7
Name: Location, dtype: int64

In [ ]:
data.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_min,Salary_max,Average_Salary
0,0,44.0,$44k-$99k,5.4,India,1999,TRUE,44,99,71.5
1,1,66.0,$55k-$66k,3.5,New York,2002,TRUE,55,66,60.5
2,2,39.0,$77k-$89k,-1.0,New York,-1,-1,77,89,83.0
3,3,64.0,$44k-$99k,4.4,India,1988,-1,44,99,71.5
4,4,25.0,$44k-$99k,6.4,Australia,2002,-1,44,99,71.5

**Question 6. Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?**

In [ ]:
# Identify unique values and their counts
print(data['Established'].value_counts())

established_dtype = data['Established'].dtype
print(established_dtype)

 1999    5
-1       5
 1988    2
 2002    2
 1955    1
 1935    1
 1934    1
 1980    1
 1987    1
 1946    1
 1944    1
 1943    1
 1954    1
 1984    1
 2020    1
 2019    1
 2009    1
 2008    1
 1932    1
Name: Established, dtype: int64
int64

In [ ]:
# Replace '-1' with NaN in the 'Established' column and convert it to numeric
data['Established'] = pd.to_numeric(data['Established'], errors='coerce')

# Calculate median excluding NaN values
median_value = np.nanmedian(data['Established'])

# Replace NaN (originally -1 values) with the calculated median
data['Established'] = data['Established'].fillna(median_value)

# Convert float values to integers by rounding
data['Established'] = data['Established'].astype(int)

# Display the updated 'Established' column without decimal points
print(data['Established'])

# Convert back to object type if needed
data['Established'] = data['Established'].astype(object)


# Display the updated 'Established' column
print(data['Established'])

0     1999
1     2002
2       -1
3     1988
4     2002
5     1999
6       -1
7       -1
8       -1
9       -1
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: Established, dtype: int64
0     1999
1     2002
2       -1
3     1988
4     2002
5     1999
6       -1
7       -1
8       -1
9       -1
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: Established, dtype: object

**Question 7: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?**

In [ ]:
# Replace '-1' with False in the 'Easy Apply' column
data['Easy Apply'].replace('-1', False, inplace=True)

# Convert 'TRUE' values to actual boolean True
data['Easy Apply'].replace('TRUE', True, inplace=True)

# Display the updated 'Easy Apply' column
print(data['Easy Apply'])

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14     True
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26     True
27    False
28    False
Name: Easy Apply, dtype: bool

In [ ]:
data.head

<bound method NDFrame.head of     Index   Age      Salary  Rating   Location Established  Easy Apply  \
0       0  44.0   $44k-$99k     5.4      India        1999        True
1       1  66.0   $55k-$66k     3.5   New York        2002        True
2       2  39.0   $77k-$89k    -1.0   New York          -1       False
3       3  64.0   $44k-$99k     4.4      India        1988       False
4       4  25.0   $44k-$99k     6.4  Australia        2002       False
5       5  44.0   $77k-$89k     1.4      India        1999        True
6       6  21.0   $44k-$99k     0.0   New York          -1       False
7       7  44.0   $44k-$99k    -1.0  Australia          -1       False
8       8  35.0   $44k-$99k     5.4   New York          -1       False
9       9  22.0   $44k-$99k     7.7      India          -1        True
10     10  55.0   $10k-$49k     5.4      India        2008        True
11     11  44.0   $10k-$49k     6.7      India        2009       False
12     12  39.0   $44k-$99k     0.0      India        1999       False
13     13  25.0   $44k-$99k    -1.0  Australia        2019        True
14     14  66.0   $44k-$99k     4.0  Australia        2020        True
15     15  44.0  $88k-$101k     3.0  Australia        1999       False
16     16  19.0   $19k-$40k     4.5      India        1984       False
17     17  39.0   $44k-$99k     5.3   New York        1943        True
18     18  35.0   $44k-$99k     6.7   New York        1954        True
19     19  32.0   $44k-$99k     3.3   New York        1955        True
20     20  39.0   $44k-$99k     5.7   New York        1944        True
21     21  35.0   $44k-$99k     5.0   New York        1946       False
22     22  19.0   $55k-$66k     7.8   New York        1988        True
23     23  39.0   $44k-$99k     2.4   New York        1999        True
24     24  13.0   $44k-$99k    -1.0   New York        1987       False
25     25  55.0   $44k-$99k     0.0  Australia        1980        True
26     26  39.0   $55k-$66k     3.5      India        1934        True
27     27  52.0   $44k-$99k     5.4      India        1935       False
28     28  39.0   $39k-$88k     3.4  Australia        1932       False

    Salary_min  Salary_max  Average_Salary
0           44          99            71.5
1           55          66            60.5
2           77          89            83.0
3           44          99            71.5
4           44          99            71.5
5           77          89            83.0
6           44          99            71.5
7           44          99            71.5
8           44          99            71.5
9           44          99            71.5
10          10          49            29.5
11          10          49            29.5
12          44          99            71.5
13          44          99            71.5
14          44          99            71.5
15          88         101            94.5
16          19          40            29.5
17          44          99            71.5
18          44          99            71.5
19          44          99            71.5
20          44          99            71.5
21          44          99            71.5
22          55          66            60.5
23          44          99            71.5
24          44          99            71.5
25          44          99            71.5
26          55          66            60.5
27          44          99            71.5
28          39          88            63.5  >

**Question 8: Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?**

In [ ]:
data['Rating'].value_counts()

In [ ]:
# Replace '-1' with NaN in the 'Rating' column and convert it to numeric
data['Rating'] = pd.to_numeric(data['Rating'], errors='coerce')

# Calculate the median excluding NaN values
median_rating = np.nanmedian(data['Rating'])

# Replace ratings below 0 or above 5 with the median
data.loc[(data['Rating'] < 0) | (data['Rating'] > 5), 'Rating'] = median_rating

# Display the updated 'Rating' column
print(data['Rating'])

**Question 9: Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?**

Ans. Yes, there were missing values in the Age column, which have now been handled.
The presence of missing entries in the 'Age' column might skew the analysis by introducing a potential bias, impacting statistical measures like mean, median, or standard deviation. This could misrepresent the true distribution and characteristics of the age data, affecting the accuracy and reliability of any analyses or insights derived from it.

**Question 10: Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?**

In [ ]:
print(data.dtypes)

Ans. The text-based columns that were: Salary, Location and Established, all had inconsistencies, which have now been handled.

**Question 11: Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?**

In [ ]:
data.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Salary_min,Salary_max,Average_Salary
0,0,44.0,$44k-$99k,4.0,India,1999.0,True,44,99,71.5
1,1,66.0,$55k-$66k,3.5,New York,2002.0,True,55,66,60.5
2,2,39.0,$77k-$89k,4.0,New York,1988.0,False,77,89,83.0
3,3,64.0,$44k-$99k,4.4,India,1988.0,False,44,99,71.5
4,4,25.0,$44k-$99k,4.0,Australia,2002.0,False,44,99,71.5

Ans. Data Integrity maintained.

**Question 12: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?**

Ans. The code converts '-1' to False and 'TRUE' to True in the 'Easy Apply' column, ensuring a proper boolean representation for usability.

**Question 13: Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?**

Ans. Yes.

**Question 14: For categorical indicators, consider encoding or transforming them into a format suitable for analysis.**

Ans. Refer to the questions above.

**Question 15: Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?**

Ans. Consistency established.



---



---

# PROJECT 2


---

In [ ]:
# Reading the TSV file into a DataFrame
df = pd.read_csv('/content/chipotle.tsv', sep='\t')

df = pd.DataFrame(df)

**1. Missing Values:
Question: Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?**

In [ ]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

Handling Missing Values

In [ ]:
df['choice_description'].fillna('No description', inplace=True)

df['choice_description']

0                                          No description
1                                            [Clementine]
2                                                 [Apple]
3                                          No description
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

**2. Data Types:
Question: Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?**

In [ ]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Ans. All but item_price does not align with its expected dtype, expected dtype is float.

**3. Duplicated Entries:
Question: Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?**

In [ ]:
duplicates = df[df.duplicated(keep=False)]
print("Duplicate Entries:")
print(duplicates)

Duplicate Entries:
      order_id  quantity         item_name  \
234        103         1     Steak Burrito
238        103         1     Steak Burrito
246        108         1       Canned Soda
248        108         1       Canned Soda
296        129         1     Steak Burrito
...        ...       ...               ...
4544      1806         1     Bottled Water
4568      1817         1     Bottled Water
4570      1817         1     Bottled Water
4602      1827         1  Barbacoa Burrito
4603      1827         1  Barbacoa Burrito

                                     choice_description item_price
234   [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75
238   [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75
246                                      [Mountain Dew]     $1.09
248                                      [Mountain Dew]     $1.09
296   [Tomatillo Green Chili Salsa, [Rice, Cheese, G...    $11.75
...                                                 ...        ...
4544                                     No description     $1.50
4568                                     No description     $1.50
4570                                     No description     $1.50
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25

[115 rows x 5 columns]

Ans. Duplicates can distort statistical measures, skewing means or counts. In analysis, they may exaggerate certain trends or bias models. Removing duplicates preserves data accuracy, ensuring unbiased insights and maintaining the integrity of statistical summaries or predictive models.

**4. Quantity and Item Price:
Question: Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?**

In [53]:
# Check unique values and summary statistics for 'Quantity'
print("Unique Values in Quantity Column:")
print(df['quantity'].unique())

print("\nSummary Statistics for Quantity Column:")
print(df['quantity'].describe())

Unique Values in Quantity Column:
[ 1  2  3  4  5 15  7  8 10]

Summary Statistics for Quantity Column:
count    4622.000000
mean        1.075725
std         0.410186
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

In [55]:
df['item_price'].dtype

dtype('float64')

In [56]:
# Check unique values and summary statistics for 'Item Price'
print("Unique Values in Item Price Column:")
print(df['item_price'].unique())


print("\nSummary Statistics for Item Price Column:")
print(df['item_price'].describe())

Unique Values in Item Price Column:
[ 2.39  3.39 16.98 10.98  1.69 11.75  9.25  4.45  8.75 11.25  8.49  2.18
  8.99  1.09  2.95  2.15  3.99 22.5  11.48 17.98 17.5   4.3   5.9   1.25
 23.78  6.49 11.08  1.5  22.16 32.94 22.2  10.58  2.5  23.5   7.4  18.5
  3.    6.78 11.89  9.39  4.    3.75  8.69  2.29  8.9   3.27  3.89  8.19
 35.   27.75 11.8   6.   26.25 21.96  4.36  7.5   4.78 13.35  6.45  5.07
 22.96  7.17  7.98  4.5  26.07 12.98 35.25 44.25 10.5  33.75 16.38 13.52
  5.   15.    8.5  17.8   1.99 11.49]

Summary Statistics for Item Price Column:
count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

In [57]:
df

,order_id,quantity,item_name,choice_description,item_price,first_choice,multiple_choices,total_price
0,1,1,chips and fresh tomato salsa,No description,2.39,No description,None,2.39
1,1,1,izze,[Clementine],3.39,[Clementine],None,3.39
2,1,1,nantucket nectar,[Apple],3.39,[Apple],None,3.39
3,1,1,chips and tomatillo green chili salsa,No description,2.39,No description,None,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,[Tomatillo-Red Chili Salsa (Hot),"[Black Beans, Rice, Cheese, Sour Cream]]",33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,[Fresh Tomato Salsa,"[Rice, Black Beans, Sour Cream, Cheese, L...",11.75
4618,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,[Fresh Tomato Salsa,"[Rice, Sour Cream, Cheese, Lettuce, Guaca...",11.75
4619,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Guacamole,...",11.25
4620,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Lettuce]]",8.75
4621,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Lettuce]]",8.75

**5. Choice Description:
Question: Analyze the Choice Description column. How should choices be handled, especially when there are multiple descriptions for a single item?**

In [60]:
df['choice_description']

0                                          No description
1                                            [Clementine]
2                                                 [Apple]
3                                          No description
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [61]:
# Extracting first choice into a separate column
df['first_choice'] = df['choice_description'].apply(lambda x: x.split(',')[0].strip())

# Extracting multiple choices into a separate column
df['multiple_choices'] = df['choice_description'].apply(lambda x: ', '.join(x.split(',')[1:]) if ',' in x else None)

# Displaying the updated DataFrame with separate columns for first and multiple choices
print(df)

      order_id  quantity                              item_name  \
0            1         1           chips and fresh tomato salsa
1            1         1                                   izze
2            1         1                       nantucket nectar
3            1         1  chips and tomatillo green chili salsa
4            2         2                           chicken bowl
...        ...       ...                                    ...
4617      1833         1                          steak burrito
4618      1833         1                          steak burrito
4619      1834         1                     chicken salad bowl
4620      1834         1                     chicken salad bowl
4621      1834         1                     chicken salad bowl

                                     choice_description  item_price  \
0                                        No description        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                        No description        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

                          first_choice  \
0                       No description
1                         [Clementine]
2                              [Apple]
3                       No description
4     [Tomatillo-Red Chili Salsa (Hot)
...                                ...
4617               [Fresh Tomato Salsa
4618               [Fresh Tomato Salsa
4619               [Fresh Tomato Salsa
4620               [Fresh Tomato Salsa
4621               [Fresh Tomato Salsa

                                       multiple_choices  total_price
0                                                  None         2.39
1                                                  None         3.39
2                                                  None         3.39
3                                                  None         2.39
4           [Black Beans,  Rice,  Cheese,  Sour Cream]]        33.96
...                                                 ...          ...
4617   [Rice,  Black Beans,  Sour Cream,  Cheese,  L...        11.75
4618   [Rice,  Sour Cream,  Cheese,  Lettuce,  Guaca...        11.75
4619   [Fajita Vegetables,  Pinto Beans,  Guacamole,...        11.25
4620                     [Fajita Vegetables,  Lettuce]]         8.75
4621       [Fajita Vegetables,  Pinto Beans,  Lettuce]]         8.75

[4622 rows x 8 columns]

**6. Handling Special Characters:
Question: Check for special characters in text-based columns (e.g., Item Name, Choice Description). How can these be addressed for consistency?**

In [62]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,first_choice,multiple_choices,total_price
0,1,1,chips and fresh tomato salsa,No description,2.39,No description,None,2.39
1,1,1,izze,[Clementine],3.39,[Clementine],None,3.39
2,1,1,nantucket nectar,[Apple],3.39,[Apple],None,3.39
3,1,1,chips and tomatillo green chili salsa,No description,2.39,No description,None,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,[Tomatillo-Red Chili Salsa (Hot),"[Black Beans, Rice, Cheese, Sour Cream]]",33.96

In [63]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
first_choice           object
multiple_choices       object
total_price           float64
dtype: object

Ans. The inconsistencies have been handled.

**7. Order Id Integrity:
Question: Cross-reference the Order ID column for integrity. Are there any irregularities or patterns that need validation?**

In [64]:
df

,order_id,quantity,item_name,choice_description,item_price,first_choice,multiple_choices,total_price
0,1,1,chips and fresh tomato salsa,No description,2.39,No description,None,2.39
1,1,1,izze,[Clementine],3.39,[Clementine],None,3.39
2,1,1,nantucket nectar,[Apple],3.39,[Apple],None,3.39
3,1,1,chips and tomatillo green chili salsa,No description,2.39,No description,None,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,[Tomatillo-Red Chili Salsa (Hot),"[Black Beans, Rice, Cheese, Sour Cream]]",33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,[Fresh Tomato Salsa,"[Rice, Black Beans, Sour Cream, Cheese, L...",11.75
4618,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,[Fresh Tomato Salsa,"[Rice, Sour Cream, Cheese, Lettuce, Guaca...",11.75
4619,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Guacamole,...",11.25
4620,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Lettuce]]",8.75
4621,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Lettuce]]",8.75

In [65]:
# Check for irregularities or patterns in 'order_id' column
print("Unique Order IDs:")
print(df['order_id'].unique())

print("\nCount of each Order ID:")
print(df['order_id'].value_counts())

print("\nMin Order ID:", df['order_id'].min())
print("Max Order ID:", df['order_id'].max())

Unique Order IDs:
[   1    2    3 ... 1832 1833 1834]

Count of each Order ID:
926     23
1483    14
205     12
759     11
1786    11
        ..
768      1
341      1
1048     1
94       1
1199     1
Name: order_id, Length: 1834, dtype: int64

Min Order ID: 1
Max Order ID: 1834

**8. Item Name Standardization:
Question: Standardize the Item Name column. Are there variations that can be unified for better analysis?**

In [66]:
df['item_name']

0                chips and fresh tomato salsa
1                                        izze
2                            nantucket nectar
3       chips and tomatillo green chili salsa
4                                chicken bowl
                        ...
4617                            steak burrito
4618                            steak burrito
4619                       chicken salad bowl
4620                       chicken salad bowl
4621                       chicken salad bowl
Name: item_name, Length: 4622, dtype: object

In [67]:
# Standardize item names by converting to lowercase
df['item_name'] = df['item_name'].str.lower().str.replace('-', ' ')

# Displaying the updated DataFrame with standardized 'item_name' column
print(df)

      order_id  quantity                              item_name  \
0            1         1           chips and fresh tomato salsa
1            1         1                                   izze
2            1         1                       nantucket nectar
3            1         1  chips and tomatillo green chili salsa
4            2         2                           chicken bowl
...        ...       ...                                    ...
4617      1833         1                          steak burrito
4618      1833         1                          steak burrito
4619      1834         1                     chicken salad bowl
4620      1834         1                     chicken salad bowl
4621      1834         1                     chicken salad bowl

                                     choice_description  item_price  \
0                                        No description        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                        No description        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

                          first_choice  \
0                       No description
1                         [Clementine]
2                              [Apple]
3                       No description
4     [Tomatillo-Red Chili Salsa (Hot)
...                                ...
4617               [Fresh Tomato Salsa
4618               [Fresh Tomato Salsa
4619               [Fresh Tomato Salsa
4620               [Fresh Tomato Salsa
4621               [Fresh Tomato Salsa

                                       multiple_choices  total_price
0                                                  None         2.39
1                                                  None         3.39
2                                                  None         3.39
3                                                  None         2.39
4           [Black Beans,  Rice,  Cheese,  Sour Cream]]        33.96
...                                                 ...          ...
4617   [Rice,  Black Beans,  Sour Cream,  Cheese,  L...        11.75
4618   [Rice,  Sour Cream,  Cheese,  Lettuce,  Guaca...        11.75
4619   [Fajita Vegetables,  Pinto Beans,  Guacamole,...        11.25
4620                     [Fajita Vegetables,  Lettuce]]         8.75
4621       [Fajita Vegetables,  Pinto Beans,  Lettuce]]         8.75

[4622 rows x 8 columns]

**9. Quantity and Price Relationships:
Question: Investigate the relationships between Quantity and Item Price. Are there cases where adjustments need to be made for accurate analysis?**

In [68]:
df

,order_id,quantity,item_name,choice_description,item_price,first_choice,multiple_choices,total_price
0,1,1,chips and fresh tomato salsa,No description,2.39,No description,None,2.39
1,1,1,izze,[Clementine],3.39,[Clementine],None,3.39
2,1,1,nantucket nectar,[Apple],3.39,[Apple],None,3.39
3,1,1,chips and tomatillo green chili salsa,No description,2.39,No description,None,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,[Tomatillo-Red Chili Salsa (Hot),"[Black Beans, Rice, Cheese, Sour Cream]]",33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,[Fresh Tomato Salsa,"[Rice, Black Beans, Sour Cream, Cheese, L...",11.75
4618,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,[Fresh Tomato Salsa,"[Rice, Sour Cream, Cheese, Lettuce, Guaca...",11.75
4619,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Guacamole,...",11.25
4620,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Lettuce]]",8.75
4621,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Lettuce]]",8.75

In [69]:
# Check the summary statistics of 'quantity' and 'item_price' columns
print("Summary Statistics for Quantity:")
print(df['quantity'].describe())

print("\nSummary Statistics for Item Price:")
print(df['item_price'].describe())

# Calculate total price for each item
df['total_price'] = df['quantity'] * df['item_price']

# Check for any unexpected relationships between quantity and item_price
print("\nTop 5 items with the highest total price:")
print(df.nlargest(5, 'total_price'))

print("\nTop 5 items with the lowest total price:")
print(df.nsmallest(5, 'total_price'))

Summary Statistics for Quantity:
count    4622.000000
mean        1.075725
std         0.410186
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

Summary Statistics for Item Price:
count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

Top 5 items with the highest total price:
      order_id  quantity                     item_name  \
3598      1443        15  chips and fresh tomato salsa
4152      1660        10                 bottled water
1254       511         4               chicken burrito
3602      1443         4               chicken burrito
3887      1559         8                 side of chips

                                     choice_description  item_price  \
3598                                     No description       44.25
4152                                     No description       15.00
1254  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
3602  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
3887                                     No description       13.52

             first_choice                                   multiple_choices  \
3598       No description                                               None
4152       No description                                               None
1254  [Fresh Tomato Salsa   [Fajita Vegetables,  Rice,  Black Beans,  Che...
3602  [Fresh Tomato Salsa        [Rice,  Black Beans,  Cheese,  Sour Cream]]
3887       No description                                               None

      total_price
3598       663.75
4152       150.00
1254       140.00
3602       140.00
3887       108.16

Top 5 items with the lowest total price:
     order_id  quantity      item_name choice_description  item_price  \
28         14         1    canned soda       [Dr. Pepper]        1.09
34         17         1  bottled water     No description        1.09
53         24         1    canned soda           [Sprite]        1.09
87         38         1  bottled water     No description        1.09
107        47         1    canned soda       [Dr. Pepper]        1.09

       first_choice multiple_choices  total_price
28     [Dr. Pepper]             None         1.09
34   No description             None         1.09
53         [Sprite]             None         1.09
87   No description             None         1.09
107    [Dr. Pepper]             None         1.09

**10. Data Integrity Check:
Question: Perform a data integrity check by ensuring that quantities and prices align with the corresponding items and descriptions.**

Yes, they do align.

**11. Converting to CSV:
Optional Question: If needed, convert the cleaned dataset to a CSV file using the to_csv function with sep=','.**

**12. Handling Categorical Data:
Question: For categorical columns (e.g., Item Name), consider encoding or transforming them into a format suitable for analysis.**

In [70]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
first_choice           object
multiple_choices       object
total_price           float64
dtype: object

In [71]:
df

,order_id,quantity,item_name,choice_description,item_price,first_choice,multiple_choices,total_price
0,1,1,chips and fresh tomato salsa,No description,2.39,No description,None,2.39
1,1,1,izze,[Clementine],3.39,[Clementine],None,3.39
2,1,1,nantucket nectar,[Apple],3.39,[Apple],None,3.39
3,1,1,chips and tomatillo green chili salsa,No description,2.39,No description,None,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,[Tomatillo-Red Chili Salsa (Hot),"[Black Beans, Rice, Cheese, Sour Cream]]",33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,[Fresh Tomato Salsa,"[Rice, Black Beans, Sour Cream, Cheese, L...",11.75
4618,1833,1,steak burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,[Fresh Tomato Salsa,"[Rice, Sour Cream, Cheese, Lettuce, Guaca...",11.75
4619,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Guacamole,...",11.25
4620,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Lettuce]]",8.75
4621,1834,1,chicken salad bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,[Fresh Tomato Salsa,"[Fajita Vegetables, Pinto Beans, Lettuce]]",8.75

**13. Consistent Quantity and Price Units:
Question: Ensure consistency in units for Quantity and Item Price. Should any conversions or adjustments be made for uniform analysis?**

Ans. All changes have been made.



---



---